@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --main-color: #0091df;
  --main-color-light: #1da4ed;
  --white-color: #fff;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

::selection {
  color: var(--white-color);
  background: var(--main-color-light);
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.836), rgba(255, 255, 255, 0.774)), url('/assets/resources/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.links {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

nav img {
  width: 120px;
}

.nav-mobile-links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 1000;
}

.nav-mobile-links .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.nav-mobile-links ul li {
  list-style: none;
  margin-top: 20px;
}

.nav-links ul li,
.social-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 18px;
  position: relative;
}

.nav-links ul li a,
.social-links ul li a,
.nav-mobile-links ul li a {
  color: var(--black-color);
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.nav-links ul li a:hover,
.footer-links a:hover,
.nav-mobile-links ul li a:hover {
  color: var(--main-color-light);
}

.social-links ul li a {
  font-size: 25px;
}

.nav-links ul li::after,
.nav-mobile-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--main-color-light);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after,
.nav-mobile-links ul li:hover::after {
  width: 100%;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-box input {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--main-color-light);
}

#search-btn {
  background: var(--main-color);
  color: var(--white-color);
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

#search-btn:hover {
  background: var(--main-color-light);
  color: #dadada;
}

.fa-instagram {
  background: linear-gradient(#405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-pinterest {
  color: #e70820;
}

.fa-facebook {
  color: #086dff;
}

.fa-quora {
  color: #bb322e;
}

.fa-snapchat-ghost {
  background: #fffc04;
  color: var(--black-color);
  border-radius: 50%;
  padding: 4px;
}

.text-box {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
  color: var(--black-color);
}

.text-box h2 {
  color: var(--black-color);
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: var(--black-color);
  font-weight: 600;
}

.new-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--black-color);
  padding: 12px 34px;
  font-size: 15px;
  position: relative;
  background: var(--main-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
}

.new-btn:hover {
  background: var(--main-color-light);
  transition: 1s;
}

nav .fa {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.products-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin-top: 30px;
}

.products,
.about {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.products-col {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.products-col img {
  width: 100%;
  height: 240px;
  object-fit: contain;
}

.products-col p {
  padding: 0;
  text-align: justify;
}

.products-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.ab-S {
  background: var(--white-color);
  padding: 20px;
  margin: 20px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.ab-S h3 {
  color: #020202;
}

.ab-S p {
  color: #020000;
  font-size: 1.1em;
  margin: 10px 0;
}

.highlight {
  color: var(--main-color-light);
}

@media (max-width: 950px) {
  .ab-S {
    font-size: 0.9em;
  }
}

.contact {
  margin: 100px auto;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.contact h1 {
  color: #fff;
  padding: 0;
}

.contact p {
  margin-bottom: 40px;
  color: #dadada;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.inputField {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.inputField input,
.inputField textarea {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  border-bottom: 2px solid #555555;
  border-top: 2px solid transparent;
}

.inputField input:is(:focus, :valid) {
  border-bottom-color: #afafaf;
}

.inputField i {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #555555;
  font-size: 1.5rem;
}

.inputField .fa-comment-alt {
  top: 30% !important;
}

.inputButton {
  margin-top: 35px;
  width: 50%;
}

.conSub {
  margin-top: 30px;
  align-self: flex-start;
}

#msg {
  color: #38ff42;
}

.footer {
  background: #f3fbff;
  text-align: center;
  padding: 30px 0 0 0;
}

.footer h4 {
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  margin: 0 13px;
  cursor: pointer;
  font-size: 35px;
}

.cp h4 {
  text-align: center;
  background: #f3fbff;
}

@media (max-width: 740px) {
  .text-box h1 {
    font-size: 20px;
  }

  nav .fa {
    display: block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .fa-bars {
    display: block;
  }

  .nav-links,
  .social-links {
    display: none;
  }

  .contact h1 {
    font-size: 24px;
  }

  .form {
    width: 80%;
  }

  .footerCon {
    flex-direction: column;
    gap: 30px;
  }

  .icons .fa {
    font-size: 25px !important;
  }

  .footer-links {
    gap: 10px !important;
  }

  .footer-links a {
    font-size: 14px !important;
  }
}

@media (max-width: 1170px) {

  .nav-links ul li,
  .social-links ul li {
    padding: 8px 10px;
  }
}

@media (max-width: 1024px) {
  .row {
    flex-direction: column;
  }

  .links {
    flex-direction: column;
  }
}

@media (max-width: 1520px) {
  .search-box {
    display: none;
  }
}

.footerCon {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  text-transform: uppercase;
}

.footer-links a {
  color: var(--black-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.fa-times,
.fa-bars {
  color: var(--black-color) !important;
}

.show-menu {
  left: 0;
}

@media (max-width: 700px) {
  nav {
    gap: 0;
  }

  .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    color: var(--black-color);
    cursor: pointer;
    z-index: 1000;
  }
}

@media (min-width: 701px) {
  .nav-mobile-links {
    display: none;
  }

  .menu-button {
    display: none;
  }
}

.scroll-navbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--white-color);
  color: var(--black-color);
  text-align: center;
  z-index: 99;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.scroll-navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.scroll-navbar nav ul li {
  display: inline-block;
  margin: 0 10px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.scroll-navbar nav ul li a {
  color: var(--black-color);
  text-decoration: none;
  padding: 5px 10px;
}

.scroll-navbar nav ul li a:hover {
  color: var(--main-color-light);
}

.scroll-navbar nav {
  padding: 10px;
}

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  transition: all 0.3s ease-in-out;
}

.cta-button:hover {
  background: var(--main-color);
  color: var(--white-color);
}

/* popup */
.newCon {
  width: 70vw;
  height: 100%;
  text-align: center;
  padding: 20% 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #f3fbff;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newCon h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black-color);
}

.newCon form {
  max-width: 600px;
  width: 100%;
}

.nInp {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.nInp input {
  width: 100%;
  padding: 2% 5%;
  border: 1px solid var(--main-color);
  outline: none;
  font-size: 1rem;
}

.nInp .nBut {
  cursor: pointer;
  background: var(--main-color);
  color: var(--white-color);
  padding: 2%;
  font-size: 2rem;
  outline: none;
  border: none;
}

.closePopup {
  position: absolute;
  top: 3%;
  right: 1%;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100;
}

.popup {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
}

.highlightSearch {
  background-color: yellow;
}